<table>
  <thead>
    <th>Time</th>
    <th>Duration</th>
    <th>Topic</th>
    <th>Join Link</th>
  </thead>
  <tbody>
    {{#each @meetings as |meeting|}}
      <tr>
        <td>{{datetime meeting.start_time}}</td>
        <td>{{meeting.duration}}</td>
        <td>{{meeting.topic}}</td>
        <td><a href={{meeting.join_url}}>{{meeting.join_url}}</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>